body { 
	margin: 0px;
}

nav {
	background-color: #0c4ca3;
	
	/* to ra 
	padding: 20px;*/
}
header ul {
	/* 2 dòng phải đi cùng nhau */
	/* lên cùng 1 dòng */	
	display: flex;
	/* căn giữa */
	justify-content: center;
	
	
	/* để cho mất dấu châm */
	list-style: none;
	
	/* xét các phần tử bên trong cách nhau */
	
	font-family: Roboto, Arial, Tahoma;
	
}

li { 
	padding: 15px;
}

.border {
	/* solid dạng kẻ nét liền */
	border-right: 1px solid grey;
}

.danhmuc-lienket {
	color: white;
	text-decoration: none;
}

.banner-qc {
	display:flex;
	justify-content: center;
	margin: 10px 0;
}

.qc {
	display:flex;
	justify-content: space-between;
}

header {
	border-bottom: 15px solid white;
}

.tonghop {
	margin: 10px 0; 
}

.thongtin {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px ;
	border-bottom: 3px solid grey;
}

.tintuc {
	color: #024da1;
	text-decoration: none;
	border-bottom: 2px solid #024da1;
}

.xemthem {
	color: #939597;
	text-decoration: none;
}

.bangtin {
	display: flex;
	justify-content: center;
	
}

.bangthongtin img {
	width: 100%;
}

.bangthongtin h2 {
	font-size: 16px;
	margin: 10px 0;
	color: #000;
}

.tin {
	padding: 15px;
	text-decoration: none;
	color: black;

}
